@model IEnumerable<Project_62130516.Models.Lop>

@{
    ViewBag.Title = "Quản lý lớp học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý lớp học</h2>

<p>
    @Html.ActionLink("Thêm lớp", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên lớp
        </th>
        <th>
            Số sinh viên
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SinhViens.Count)
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.MaLop })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.MaLop })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.MaLop })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
