@model Project_62130516.Models.MonHoc

@{
    ViewBag.Title = "Chi tiết môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý môn học</h2>

<div>
    <h4>Chi tiết môn học</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoTinChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoTinChi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaMH }) |
    @Html.ActionLink("Trở về", "Index")
</p>
