@model IEnumerable<Project_62130516.Models.MonHoc>

@{
    ViewBag.Title = "Môn học";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý môn học</h2>

<p>
    @Html.ActionLink("Thêm môn học", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên môn học
        </th>
        <th>
            Số tín chỉ
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoTinChi)
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.MaMH })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.MaMH })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.MaMH })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
