@model Project_62130516.Models.User

@{
    ViewBag.Title = "Xóa người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý người dùng</h2>


<h3>Bạn có chắc chắn muốn xóa không? Hãy cân nhắc lại</h3>
<div>
    <h4>Xóa người dùng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
