@model Project_62130516.Models.User

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý người dùng</h2>

<div>
    <h4>Chi tiết</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDangNhap)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MatKhau)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MatKhau)
        </dd>

        <dt>
            Trạng thái tài khoản
        </dt>

        <dd>
            @if (!Model.DaXoa)
            {
                <text>🟢 Đang hoạt động</text>
            }
            else
            {
                <text>🔴 Đã khóa</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GiangVien.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GiangVien.TenGV)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
