@model IEnumerable<Project_62130516.Models.User>

@{
    ViewBag.Title = "Danh sách người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Danh sách người dùng</h2>

<p>
    @Html.ActionLink("Tạo tài khoản", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã số
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Quyền
        </th>
        <th>
            Mật khẩu
        </th>
        <th>
            Trạng thái tài khoản
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenDangNhap)
        </td>
        <td>
            @if (item.TenQuyen == null)
            {
                <text>-Chưa set-</text>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.TenQuyen)
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MatKhau)
        </td>
        <td>
            @if (!item.DaXoa)
            {
                <text>🟢 Đang hoạt động</text>
            }
            else
            {
                <text>🔴 Đã khóa</text>
            }
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.Id })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.Id })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.Id })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
