@model IEnumerable<Project_62130516.Models.SinhVien>

@{
    ViewBag.Title = "Quản lý sinh viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý sinh viên</h2>

<p>
    @Html.ActionLink("Thêm sinh viên", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tên sinh viên
        </th>
        <th>
            Số điện thoại
        </th>
        <th>
            Email
        </th>
        <th>
            Giới tính
        </th>
        <th>
            Tên lớp
        </th>
        <th>
            Số học phần đã học
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SDT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lop.TenLop)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BangDiems.Count)
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.MaSV })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.MaSV })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.MaSV })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
