@model Project_62130516.Models.BangDiem

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý điểm sinh viên</h2>

<h3>Bạn có chắc chắn muốn xóa không? Hãy cân nhắc lại</h3>
<div>
    <h4>Xóa bảng điểm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemQT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemQT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiemThi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemThi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocPhan.MaMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocPhan.MaMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SinhVien.TenSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SinhVien.TenSV)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Trở về", "Index")
        </div>
    }
</div>
