@model IEnumerable<Project_62130516.Models.BangDiem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="display: flex; justify-content: space-between;">
    <div>
        @* Tìm kiếm ở đây *@
        <form action="@Url.Action("Index")" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="keyWord" placeholder="Tìm kiếm..." value="@Request.QueryString["keyWord"]" />
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Tìm</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <button class=" btn btn-primary text-white">
            <a class="text-white text-decoration-none" href="@Url.Action("Create")">Nhập điểm</a>
        </button>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            Mã sinh viên
        </th>
        <th>
            Tên sinh viên
        </th>
        <th>
            Lớp
        </th>
        <th>
            Mã học phần
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Điểm quá trình
        </th>
        <th>
            Điểm thi
        </th>
        <th>
            Điểm tổng
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SinhVien.MaSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinhVien.TenSV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SinhVien.Lop.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhan.MaHP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HocPhan.MonHoc.TenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemQT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemThi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiemTong)
            </td>


            <td>
                <button class="btn btn-warning">
                    <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.Id })">Sửa</a>
                </button>
                |
                <button class="btn btn-info">
                    <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.Id })">Chi tiết</a>
                </button>
                |
                <button class="btn btn-danger">
                    <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.Id })">Xóa</a>
                </button>
            </td>
        </tr>
    }

</table>
