@model Project_62130516.Models.GiangVien

@{
    ViewBag.Title = "Chi tiết giảng viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý giảng viên</h2>

<div>
    <h4>Chi tiết giảng viên</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenGV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenGV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.TenDangNhap)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.TenDangNhap)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaGV }) |
    @Html.ActionLink("Quay lại", "Index")
</p>
