@model IEnumerable<Project_62130516.Models.GiangVien>

@{
    ViewBag.Title = "Quản lý giảng viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý giảng viên</h2>

<p >
    @Html.ActionLink("Thêm giảng viên", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã số giảng viên
        </th>
        <th>
            Tên giảng viên
        </th>
        <th>
            Email
        </th>
        <th>
            Ngày sinh
        </th>
        <th>
            Tên đăng nhập
        </th>
        <th>
            Số học phần phụ trách
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.TenDangNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HocPhans.Count)
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.MaGV })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.MaGV })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.MaGV })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
