@model IEnumerable<Project_62130516.Models.HocPhan>

@{
    ViewBag.Title = "Quản lý học phần";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Quản lý học phần</h2>

<p>
    @Html.ActionLink("Thêm học phần", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Mã học phần
        </th>
        <th>
            Tên giảng viên đứng lớp
        </th>
        <th>
            Tên môn học
        </th>
        <th>
            Số lượng học sinh
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaHP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GiangVien.TenGV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MonHoc.TenMon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BangDiems.Count)
        </td>
        <td>
            <button class="btn btn-warning">
                <a class="text-white text-decoration-none" href="@Url.Action("Edit", new { id = item.MaHP })">Sửa</a>
            </button>
            |
            <button class="btn btn-info">
                <a class="text-white text-decoration-none" href="@Url.Action("Details", new { id = item.MaHP })">Chi tiết</a>
            </button>
            |
            <button class="btn btn-danger">
                <a class="text-white text-decoration-none" href="@Url.Action("Delete", new { id = item.MaHP })">Xóa</a>
            </button>
        </td>
    </tr>
}

</table>
